{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}
    Start Clientes
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="card bg-success text-white" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Título do card ee</h5>
                <h6 class="card-subtitle mb-2 text-muted">Subtitulo do card</h6>
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                <a href="#" class="card-link">Link do card</a>
                <a href="#" class="card-link">Outro link</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <h6 class="card-subtitle mb-2 text-muted">Subtitulo do card</h6>
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                <a href="#" class="card-link">Link do card</a>
                <a href="#" class="card-link">Outro link</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <h6 class="card-subtitle mb-2 text-muted">Subtitulo do card</h6>
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                <a href="#" class="card-link">Link do card</a>
                <a href="#" class="card-link">Outro link</a>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
