{% extends 'base.html' %}
{% block title %}
    Start Clientes
{% endblock %}

{% block main %}
<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-secondary " href="{% url 'new_person' %}"><i class="fas fa-plus"></i></a>
        <a class="btn btn-secondary " href="{% url 'new_person' %}"><i class="fas fa-arrow-circle-down"></i></a>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Listagem de Pessoas</h5>
      <div class="table-responsive">
        <table class="table table-hover table-dark table-sm table-bordered">
          <thead class="thead-dark"> 
            <tr>
              <th scope="col">Cod</th>
              <th scope="col">Frist Name</th>
              <th scope="col">last_name</th>
              <th scope="col">age</th>
              <th scope="col">salary</th>
              <th scope="col">bio</th>
              <th scope="col">Doc</th>
              <th scope="col">photo</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for persons in person %}
            <tr>
              <th scope="row">{{ persons.id }}</th>
              <td>{{ persons.frist_name }}</td>
              <td>{{ persons.last_name }}</td>
              <td>{{ persons.age }}</td>
              <td>{{ persons.salary }}</td>
              <td>{{ persons.bio }}</td>
              <td>{{ persons.doc }}</td>
              <td><a href="{{ persons.photo }}">{{ persons.photo }}</td>
              <td>
                <a href="{% url 'delete_person' persons.id %}" class="btn btn-secondary btn-sm"><i class="fas fa-trash"></i></a>
                <a href="{% url 'update_person' persons.id %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
              </td>
            </tr>
             {% empty%}
                <div class="alert alert-primary" role="alert">
                  Empty data return
                </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}