{% extends 'base.html' %}
{% block title %}
    Start Clientes
{% endblock %}

{% block main %}
<br>
<h1> {{ reuqest.session.text_usu }} </h1>
  <div class="container-fluid">
                         <div class="row">
                            <div class="col-xl-3 col-md-4">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Clientes</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'person_list'%}">Acessar</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Documentos</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'docs_list'%}">Acessar</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-3 col-md-4">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Administração do Sistema</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">Acessar</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
{% endblock %}